/Skim_NanoAOD/condor/tmpSub
/Skim_NanoAOD/sample/*.pyc
/Skim_NanoAOD/src/*.o
/Skim_NanoAOD/*.root

/RecoNtuple_Skim/condor/tmpSub
/RecoNtuple_Skim/sample/*.pyc
/RecoNtuple_Skim/src/*.o
/RecoNtuple_Skim/*.root

/CBA_RecoNtuple/Hist_Ntuple/hists
/CBA_RecoNtuple/Hist_Ntuple/*.pyc
/CBA_RecoNtuple/Hist_Ntuple/sample/*.pyc
/CBA_RecoNtuple/Hist_Ntuple/condor/*.pyc
/CBA_RecoNtuple/Hist_Ntuple/condor/tmpSub
